@font-face {
        font-family: Marianne;
        src : url(../font/marianne-bold-webfont.ttf);
}

@font-face {
        font-family: Segoe;
        src : url(../font/seguibl.ttf);
}


body{
    background: #EBEBEB;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
}

h3 {
    margin: 0px;
    padding-bottom: 0px;

    font-family: 'Segoe';
    color: #282828;
    font-size: 50px;
    text-align: center;
}

p {
    margin: 0px;
    padding-bottom: 280px;

    font-family: 'Segoe';
    color: #0098FF;
    font-size: 30px;
    text-align: center;
}

.container {
  display: inline-grid;
  margin: 0 auto;
  width: 100%;

  font-family: 'Marianne';
}

b {
  margin: 50px 0px 0px 25%;
  font-size: 20px;
}

input[type=text] {
    outline: 0;
    border: none;

    width: 50%;
    padding: 22px 20px;
  margin: 0px 0px 50px 25%;
    display: inline-block;
    border: 0px;
    border-radius: 30px;
    box-sizing: border-box;

    background-color: #282828;
    opacity: 0.20;
}

input[type=password]{
  outline: 0;
  border: none;

  width: 50%;
  padding: 22px 20px;
  margin: 0px 0px 0px 25%;
  display: inline-block;
  border: 0px;
  border-radius: 30px;
  box-sizing: border-box;

  background-color: #282828;
  opacity: 0.20;
}

input[type=submit] {
    outline: 0;
    border: none;

    width: 50%;
    background-color: rgba(0, 152, 255, 0.34);
    color: #282828;
    padding: 22px 20px;
    margin: 100px 0px 25% 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Segoe';
    font-size: 20px;
}

input[type=submit]:hover {
    outline: 0;
    border: none;

    background-color: white;
    color: #0098FF;
    border: 1px solid #0098FF;
    border-radius: 30px;

}

h5 {
    margin: 0px;
    padding-bottom: 0px;

    font-family: 'Segoe';
    color: #282828;
    font-size: 18px;
    text-align: center;
}
