@font-face {
        font-family: Marianne;
        src : url(../font/marianne-bold-webfont.ttf);
}

@font-face {
        font-family: Segoe;
        src : url(../font/seguibl.ttf);
}


body{
    background: #EBEBEB;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: initial;
}

@media (max-width: 600px) {
  body {
    background-position: center;
  }
}

.bg-logo{
    background-image: url(../assets/background2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    padding-bottom: 12.5% ;
}

@media (max-width: 600px) {
  .bg-logo {
    background-position: center;
    background-size: 100%;
  }
}

h3 {
    margin: 0%;
    padding-bottom: 0%;

    font-family: 'Segoe';
    color: #282828;
    font-size: 3.125em;
    text-align: center;
}

@media (max-width: 600px) {
  h3 {
      margin-top: 1.5em;
      font-size: 1.875em;
  }
}

p {
    margin: 0%;
    padding-bottom: 5em;

    font-family: 'Segoe';
    color: #0098FF;
    font-size: 2.5em;
    text-align: center;
}

@media (max-width: 600px) {
  p {
      padding-bottom: 7em;
      font-size: 1.5625em;
  }
}

.container {
  display: inline-grid;
  margin: 0 auto;
  width: 100%;

  font-family: 'Marianne';
}

b {
  margin-left: 25%;
  font-size: 1.25em;
}

@media (max-width: 600px) {
  b {
    margin-left: 12.5%;
    font-size: 0.8125em;
  }
}

input[type=text] {
    outline: 0;
    border: none;

    width: 50%;
    padding: 1.5% 2%;
    margin: 0px 0px 5% 25%;
    display: inline-block;
    border: 0px;
    border-radius: 30px;
    box-sizing: border-box;

    background-color: #282828;
    opacity: 0.20;
}

@media (max-width: 600px) {
  input[type=text] {
      width: 75%;
      padding: 1.5% 2%;
      margin: 0% 0% 25% 12.5%;
  }
}

input[type=password]{
  outline: 0;
  border: none;

  width: 50%;
  padding: 1.5% 2%;
  margin: 0% 0% 0% 25%;
  display: inline-block;
  border: 0%;
  border-radius: 30px;
  box-sizing: border-box;

  background-color: #282828;
  opacity: 0.20;
}

@media (max-width: 600px) {
  input[type=password]{
    width: 75%;
    padding: 1.5% 2%;
    margin: 0% 0% 30% 12.5%;
  }
}

input[type=submit] {
    outline: 0;
    border: none;

    width: 50%;
    background-color: rgba(0, 152, 255, 0.34);
    color: #282828;
    padding: 1.5% 2%;
    margin: 10% 0% 1% 25%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Segoe';
    font-size: 1.25em;
}

@media (max-width: 600px) {
  input[type=submit] {
      padding: 3%;
      font-size: 0.93em;
      margin: 00% 0% 5% 25%;
  }
}

input[type=submit]:hover {
    outline: 0;
    border: none;

    background-color: white;
    color: #0098FF;
    border: 1px solid #0098FF;
    border-radius: 30px;
}

h5 {
    margin: 0%;
    padding-bottom: 0%;

    font-family: 'Segoe';
    color: #282828;
    font-size: 1.125em;
    text-align: center;
}

@media (max-width: 600px) {
  h5 {
      font-size: 0.81em;
  }
}
